			.centerImage
			{
				text-align:center;
				display:block;
			}
			.logoBrowserSupport{
				width: 40px;
				height: 40px;
				vertical-align: middle;
			}
			.hrSeparator{
				border-width: 2px;
				border-color: #f56a6a; /*pink*/
			}

			/* Header Modify*/

	#headerM {
		/*display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;*/
		vertical-align: top;
		border-bottom: solid 5px #f56a6a;
		padding: 6em 0 1em 0;
		position: relative;
	}

		#headerM > * {
			-moz-flex: 1;
			-webkit-flex: 1;
			-ms-flex: 1;
			flex: 1;
			margin-bottom: 0;
		}

		#headerM .logo {
			border-bottom: 0;
			color: inherit;
			font-family: "Roboto Slab", serif;
			font-size: 1.125em;			
		}

		#headeM .icons {
			text-align: right;
		}

		@media screen and (max-width: 1680px) {

			#headerM {
				padding-top: 5em;
			}

		}

		@media screen and (max-width: 736px) {

			#headerM {
				padding-top: 6.5em;
			}

				#headerM .logo {
					font-size: 1.25em;
					margin: 0;					
				}

				#headerM .icons {
					height: 5em;
					line-height: 5em;
					position: absolute;
					right: -0.5em;
					top: 0;
					margin: 0;
				}

		}
